.stack {
  height: 100vh;
  background-color: var(--orange);
  position: fixed;
  right: 0;
  width: 280px;
  z-index: 3;
  box-shadow: -4px 0 7px -6px;
}

.twitter-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  background-color: #ff8757;
  box-shadow: inset 0 -1px 10px -6px;
}

.twitter-timeline {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: fixed;
  top: 2vh;
  right: 10px;
  height: 55%;
  z-index: 5;
  border-radius: 10px;
}

.twitter-follow-button {
  margin-top: 92vh;
  z-index: 9;
  padding: 15px;
}

.twitter-timeline::-webkit-scrollbar {
  display: none;
}

.tech {
  height: 5vh;
  width: auto;
  padding: 3px 4px;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 5px;
  padding-top: 5px;
  background-color: #ff8757;
  height: 100%;
  box-sizing: content-box;
  border-radius: 10px;
}

.frame {
  height: auto;
  z-index: 9;
}

.category {
  z-index: 9;
}

.icon-box {
  height: auto;
  z-index: 9;
}

.db {
  height: auto;
  z-index: 8;
}

.tools {
  height: auto;
  z-index: 8;
}

.head {
  color: var(--teal);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.stack-text {
  font-size: 3.8rem;
}

.category {
  color: var(--orange-plus);
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: 0 5px 18px -12px rgba(0, 0, 0, 1);
}

.item {
  color: var(--reddish);
  margin: 0 auto;
  font-weight: 700;
}

.items {
  position: fixed;
  bottom: 0;
}

ul {
  list-style-type: none;
}
