.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    'a a a a a'
    'b b b b b'
    'c c c c c'
    'd d d d d'
    'e e e e e'
    'f f f f f'
    'g g g g g'
    'h h h h h';
}

.about {
  position: fixed;
  top: 0;
  border-radius: 10px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: auto;
}

.headshot-frame {
  position: relative;
  display: flex;
  background-color: #35363d;
}

.headshot {
  position: relative;
  height: 200px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
}

.statement {
  color: white;
  border: 2px dashed rgb(0, 255, 0);
  padding: 10px;
  width: auto;
  border-radius: 10px;
  background-color: #35363d;
  margin: 0 auto;
}

.p1 {
  font-size: 3rem;
}

.p2 {
}

.p3 {
  font-size: 3.6rem;
  position: relative;
  bottom: 0;
}

.make {
  width: 40vw;
  margin: 0 auto;
  background-color: #35363d;
  grid-area: b;
  position: relative;
  top: 20vh;
}

.p4 {
  color: lightskyblue;
  font-size: 1.4rem;
}

.p5 {
  color: rgb(255, 255, 132);
  font-size: 1.5rem;
}
